body {
    margin: 0px;
}

.ImagenDeFondo{
position: absolute;
z-index: -1;
left: 0;
bottom: 0;
/* opacity: 0.2;     */


    width: 100%;
    height: 100%;
    background-image: url(../images/edae34e6-b099-4c86-a54f-4ae640be6260.jpg);
    background-size:cover;
    background-position: center center;
    
    background-repeat: no-repeat;
    
    /* background-attachment: fixed; */
}

.MenuBarra{
    display: flex;
    justify-content: space-around;
    font-size:large;
    
}
 .socialMedia{
    display: flex;
    justify-content: end;
    align-items: center;
    position:absolute;
    width: 95%;
    bottom: 0;
 }

 .socialMediaIcon {
    margin: 35px;
    
 }
 .TituloInicio{
    margin-top: 100px;
    color: #C0C0C0;
    font-size:50px ;
    text-align: center;
 }
.H2Inicio{
    color: #C0C0C0;
    text-align: center;
}
.Pinguino{
    text-align: center;

}
 ul{
    list-style: none;
 }
 
 .Probando{
    display: flex;
    align-items: center;
 }


.VideosGaleria{
    
    padding-top: 20px;
    margin-left: 170px;
     
}
.VideosGaleria>iframe{
   
   


}
.GaleriaFotosGrupo2{
    width:100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.GaleriaFotosGrupo2 > img {
    margin: 20px;
    max-width: 500px;
    object-fit: contain;
}

.aboutMe{
    text-justify:distribute;
    text-size-adjust: 25px;
    margin-left: 250px; 
    margin-right: 250px;
}
.ColorFondoSobremi{

 background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);;
}
.MainGaleria{
    background-color: black;
}

.h1Galeria{
    padding-top: 95px;
    margin-left: 70px;
    text-align:left;
   color: #C0C0C0;
   text-decoration: underline;
}

.Album{
    display: flex;
    justify-content: center;
}

.Sencillos{
    width:100%;
    padding:50px;
    margin-right: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}

.Sencillos>iframe{
    max-width: 600px;
}

.contacto{
    padding-top:100px;
    display: flex;
    justify-content:space-around;
    margin: 50px;
}


.Formulario{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Botones {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.textoContacto{
    text-align: right;
    max-width:370px;
    font-size: xx-large;
}
.HacheUno{
    font-size:x-large;
    text-align:left;
}